<html>
    <head>
        <title>Julie's cool blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Julie's travels around the Globe</h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">New Zealand</a></h2>
            <p>New Zealand is very nice</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Vietnam</a></h2>
            <p>The food in Vietnam is delicious</p>
        </div>
    </body>
</html>
